@{
}
@model WebCommunity.Models.HomeIndexModel


<div style="width:100%; padding-right:5px;">
    <div class="row" style="width:inherit">

    </div>
    @foreach (var item in Model.LatestNews)
    {
        <div class="row">
            <div id="divHeader" class="d-flex justify-content-between">
                <div id="divHeadline" class="col-7">
                    @Html.DisplayFor(modelItem => item.Headline)
                </div>
                <div class="small col-2">
                    @Html.DisplayFor(modelItem => item.Category)
                </div>
                <div id="divCreated" class="col-3">
                    @Html.DisplayFor(modelItem => item.Created)
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between flex-nowrap" id="divTextPicture">
            <div id="divText" class="col-8">
                @Html.DisplayFor(modelItem => item.NewsText)
            </div>
            <div id="divNewsFeedPicture" class="col-4">
                @if (item.PictureUrl != null)
                {
                    <img src="~/@Url.Content(item.PictureUrl)" id="imgNewsFeed" />

                    <div class="small" style="text-align:center">
                        @Html.Display(item.PicName)
                    </div>
                }
            </div>
        </div>
        <hr />
    }

</div>


<style>
  
    #divHeader {
        width: 100%;
        font-size: larger;
        font-weight: 600;
    }

    #divHeadline {
    }

    #divCreated {
        /*float: right;*/
        font-size: small;
        padding-right:4px;
    }

    #divTextPicture {
        width: inherit;
    }

    #divText {
        max-width:300px;
        min-width:216px;
    }

    #divNewsFeedPicture {
        float: right;
    }

    #imgNewsFeed {
        float: right;
        max-height: 90px;
        max-width: 90px;
    }
</style>

