@model WebCommunity.Models.NewsVM


<div class="container-fluid">
    <div class="row">
        <div id="divHeader" class="d-flex justify-content-between">
            <div id="divHeadline">
                @Html.DisplayFor(model => model.Headline)
            </div>
            <div>
                @Html.DisplayFor(model=>model.Category)
            </div>
            <div id="divCreated" class="small">
                @Html.DisplayFor(model => model.Created)
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-between" id="divTextPicture">
        <div id="divText">
            @Html.DisplayFor(model => model.NewsText)
        </div>
        <div id="divPicture">
            @if (Model.PictureUrl != null)
            {
            <img src="~/@Url.Content(Model.PictureUrl)" id="imgNews" />
            }
            <div class="small" style="text-align:center">
                @Html.DisplayFor(model => model.PicName)
            </div>
        </div>
    </div>
</div>


<style>
    #divHeader {
        width: 100%;
        font-size: larger;
        font-weight: 600;
    }
    #divHeadline {
    }
    #divCreated {
        /*float: right;*/
    }
    #divTextPicture {
        width: inherit;
    }
    #divText {
    }
    #divPicture {
    }
    #imgNews {
        float: right;
        max-height: 90px;
    }
</style>

