@model NewsVM       


@{
    ViewData["Title"] = "Index";
}

<h1>Index News</h1>

<p>
    <a asp-action="Create">Create News</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Headline)
            </th>
            <th>
                Text
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Picture
            </th>
            <th id="tdUrl">
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicName)
            </th>
            <th id="tdGuid">
                @Html.DisplayNameFor(model => model.PicGuid)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllNews) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td id="tdPic">
                @if (item.PictureUrl != null)
                {
                    <img src="@Html.DisplayFor(modelItem => item.PictureUrl)" alt="Image" style="max-height:100px; max-width:100px" />
                }
                else if ((item.PicGuid.Length > 0) || (item.PictureUrl.Length > 0))
                {
                    <text>No picture selected</text>
                }
                else
                {
                    <text>No picture selected</text>
                }

            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicName)
            </td>
            <td class="small">
                @Html.DisplayFor(modelItem => item.PicGuid)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><br />
                <a asp-action="Details" asp-route-id="@item.Id">Details</a><br />
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><br />
                <a asp-action="View" asp-route-id="@item.Id">View</a><br />
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    #tdPic {
        padding: unset;
        vertical-align: middle;
    }
    #tdUrl{

    }
</style>
