@model NewsVM


@{
    ViewData["Title"] = "Index";
}

<h1>Index News</h1>

<p>
    <a asp-action="Create">Create News</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicGuid)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllNews) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicGuid)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
